<configuration>

    <property name="debug" value="false"/>

    <appender name="STDOUT" class="ch.qos.logback.core.ConsoleAppender">
        <target>System.out</target>
        <encoder>
            <pattern>[%-5level] [%d{yyyy-MM-dd HH:mm:ss.SSS}] [%logger{0}]: %msg%n</pattern>
        </encoder>
    </appender>

    <appender name="FILE" class="ch.qos.logback.core.FileAppender">
        <file>log/app.log</file>
        <append>false</append>
        <encoder>
            <pattern>[%-5level] [%d{yyyy-MM-dd HH:mm:ss.SSS}] [%logger{1}] <!--%X{sourceThread}--> - %msg%n</pattern>
        </encoder>
    </appender>

    <appender name="AKKA-FILE" class="ch.qos.logback.core.FileAppender">
        <file>log/akka.log</file>
        <append>false</append>
        <encoder>
            <pattern>[%-5level] [%d{yyyy-MM-dd HH:mm:ss.SSS}] %logger{1} <!--%X{sourceThread}--> - %msg%n</pattern>
        </encoder>
    </appender>


    <logger name="akka" level="INFO" additivity="false">
        <appender-ref ref="AKKA-FILE"/>
    </logger>

    <!--Options: OFF, ERROR, WARNING, INFO, DEBUG-->
    <root level="INFO">
        <appender-ref ref="STDOUT"/>
        <appender-ref ref="FILE"/>
    </root>
</configuration>